.nm__form-group {

  position: relative;

  &__label {

    position: relative;

    label {
      color: $col-primary;
      letter-spacing: $letter-spacing;
    }

    .no-focus {
      position: absolute;
      left: 2em;
      top: 20%;
      transition: 0.4s ease all;
    }

    .focus {
      position: absolute;
      left: 0;
      top: -2em;
      font-size: 14px;
      transition: 0.4s ease all;
    }

  }

  &__icon {

    input {
      padding-left: 3.4em;
    }

    i {
      color: $col-primary;
      position: absolute;
      font-size: 18px;
      top: 20%;
      left: 1.2em;
    }

  }

}