/* ATOMS */
/* BASIC */
/* COLORS */
/* #e5f0f9, #5f83ad, #24282d, #f4f7fa */
/* FONTS */
/* SHADOWS */
/* MEDIA */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
button {
  outline: none !important;
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
}
button:disabled {
  color: rgba(0, 0, 0, 0.26);
}
button:disabled:hover {
  box-shadow: -6px -6px 8px white, -6px -6px 12px rgba(255, 255, 255, 0.5), inset 6px 6px 4px rgba(255, 255, 255, 0.1), 6px 6px 8px rgba(0, 0, 0, 0.15);
}
button:disabled:hover span {
  display: inline-block;
  transform: none;
  color: rgba(0, 0, 0, 0.26);
}

.nm__btn {
  display: inline-block;
  color: #5f83ad;
  letter-spacing: 3px;
  font-size: 0.8em;
  line-height: 1;
  padding: 1.2em 2em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  border-radius: 1.2em;
  box-shadow: -6px -6px 8px white, -6px -6px 12px rgba(255, 255, 255, 0.5), inset 6px 6px 4px rgba(255, 255, 255, 0.1), 6px 6px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 2em;
}
.nm__btn:hover {
  box-shadow: inset -6px -6px 8px white, inset -6px -6px 12px rgba(255, 255, 255, 0.5), inset 6px 6px 4px rgba(255, 255, 255, 0.1), inset 6px 6px 8px rgba(0, 0, 0, 0.15);
}
.nm__btn:hover span {
  display: inline-block;
  transform: scale(0.98);
  color: #5f83ad;
}
.nm__btn--icon {
  width: 3em;
  height: 3em;
  padding: 2.2em 2.2em;
  position: relative;
}
.nm__btn--icon i {
  position: absolute;
  font-size: 1.4em;
  left: 34%;
  top: 36%;
}

.col1-4 {
  width: 25%;
}

.col1-2 {
  width: 50%;
}

.col3-4 {
  width: 75%;
}

input[type=text], input[type=password] {
  outline: none !important;
  background: none;
  border: 1px solid #5f83ad0d;
  width: 100%;
  border-radius: 1.2em;
  line-height: 2.5em;
  padding: 0.4em 2em;
  font-size: 0.95em;
  box-shadow: inset -6px -6px 8px white, inset -6px -6px 12px rgba(255, 255, 255, 0.5), inset 6px 6px 4px rgba(255, 255, 255, 0.1), inset 6px 6px 8px rgba(0, 0, 0, 0.15);
  letter-spacing: 3px;
  margin-bottom: 2em;
}
input[type=text]::placeholder, input[type=password]::placeholder {
  letter-spacing: 3px;
  color: #5f83ad;
}

/* FONTS */
h1, h2, h3, h4, h5, h6 {
  color: #24282d;
}

h1 {
  font-weight: normal;
  font-size: 2.4em;
  margin: 0 0 0.7em 0;
}

h2 {
  font-weight: normal;
  font-size: 2.1em;
  margin: 0 0 0.8em 0;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 0.5em 0;
}

h4 {
  font-size: 1.15em;
  font-weight: bold;
  margin: 0 0 0.7em 0;
}

h5 {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 0.8em 0;
}

i {
  color: #5f83ad;
}

/* BASIC */
/* COLORS */
/* #e5f0f9, #5f83ad, #24282d, #f4f7fa */
/* FONTS */
/* SHADOWS */
/* MEDIA */
/* MOLECULES */
.nm__btn--group {
  display: block;
}
.nm__btn--group .nm__btn:not(:last-child) {
  margin-right: 5em;
}

/* BASIC */
/* COLORS */
/* #e5f0f9, #5f83ad, #24282d, #f4f7fa */
/* FONTS */
/* SHADOWS */
/* MEDIA */
.nm__card {
  background: #f1f5f9;
  padding: 3em;
  border-radius: 2em;
  width: 1400px;
  border: none;
  box-shadow: -6px -6px 8px white, -6px -6px 12px rgba(255, 255, 255, 0.5), inset 6px 6px 4px rgba(255, 255, 255, 0.1), 6px 6px 8px rgba(0, 0, 0, 0.15);
  margin: auto auto 40px;
}
.nm__card .nm__card--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c7c7c7;
  margin-bottom: 40px;
}
.nm__card .nm__card--header h1 {
  font-size: 32px;
  margin-bottom: 20px;
}
.nm__card .nm__card--header__controls .nm__btn:not(:last-child) {
  margin-right: 5em;
}

.nm__form-group {
  position: relative;
}
.nm__form-group__label {
  position: relative;
}
.nm__form-group__label label {
  color: #24cfaa;
  letter-spacing: 3px;
}
.nm__form-group__label .no-focus {
  position: absolute;
  left: 2em;
  top: 20%;
  transition: 0.4s ease all;
}
.nm__form-group__label .focus {
  position: absolute;
  left: 0;
  top: -2em;
  font-size: 14px;
  transition: 0.4s ease all;
}
.nm__form-group__icon input {
  padding-left: 3.4em;
}
.nm__form-group__icon i {
  color: #24cfaa;
  position: absolute;
  font-size: 18px;
  top: 20%;
  left: 1.2em;
}

/* ORGANISMS */
/* BASIC */
*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f1f5f9;
  color: #24282d;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  line-height: 1.3;
}
