/* ATOMS */
@import 'styles/atoms/buttons.scss';
@import 'styles/atoms/checkboxes.scss';
@import 'styles/atoms/dividers.scss';
@import 'styles/atoms/grid.scss';
@import 'styles/atoms/inputs.scss';
@import 'styles/atoms/radio-buttons.scss';
@import 'styles/atoms/typography.scss';
@import 'styles/atoms/variables.scss';


/* MOLECULES */
@import 'styles/molecules/button-groups.scss';
@import 'styles/molecules/card.scss';
@import 'styles/molecules/forms.scss';

/* ORGANISMS */



/* BASIC */

*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $col-background;
  color: $col-text;
  font-family: $font-primary;
  font-size: 16px;
  line-height: 1.3;
}