@import 'src/styles/atoms/variables';

.nm__card {

  background: $col-background;
  padding: 3em;
  border-radius: 2em;
  width: 1400px;
  border: none;
  box-shadow: $shadow-primary;
  margin: auto auto 40px;

  .nm__card--header {

    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 32px;
      margin-bottom: 20px;
    }

    border-bottom: 1px solid #c7c7c7;
    margin-bottom: 40px;

    &__controls {

      .nm__btn {

        &:not(:last-child) {
          margin-right: 5em;
        }

      }
    }


  }

}