@import '_variables.scss';

button {
  outline: none !important;
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;

  &:disabled {
    color: rgba(0,0,0,.26);

    &:hover {
      box-shadow: $shadow-primary;

      span {
        display: inline-block;
        transform: none;
        color: rgba(0,0,0,.26);
      }
    }

  }

}


.nm__btn {
  display: inline-block;
  color: $col-secondary;
  letter-spacing: $letter-spacing;
  font-size: 0.8em;
  line-height: 1;
  padding: 1.2em 2em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  border-radius: $border-radius__md;
  box-shadow: $shadow-primary;
  margin-bottom: 2em;

  &:hover {
    box-shadow: $shadow-primary__inset;

    span {
      display: inline-block;
      transform: scale(0.98);
      color: $col-secondary;
    }
  }

  &--icon {
    width: 3em;
    height: 3em;
    padding: 2.2em 2.2em;
    position: relative;

    i {
      position: absolute;
      //font-size: 1.6em;
      //left: 0.75em;
      //top: 0.85em;
      font-size: 1.4em;
      left: 34%;
      top: 36%;
    }

  }
}