/* BASIC */
$letter-spacing: 3px;
$border-radius__sm: 0.6em;
$border-radius__md: 1.2em;
$border-radius__lg: 2em;


/* COLORS */

/* #e5f0f9, #5f83ad, #24282d, #f4f7fa */

$col-primary: #24cfaa;
$col-secondary: #5f83ad,;

$col-success: '';
$col-info: '';
$col-danger: '';

$col-background: #f1f5f9;
$col-text: #24282d;

/* FONTS */
$font-primary: 'Nunito Sans', sans-serif;



/* SHADOWS */
$shadow-primary:  -6px -6px 8px rgba(255,255,255,1),
                  -6px -6px 12px rgba(255,255,255,0.5),
                  inset 6px 6px 4px rgba(255,255,255,0.1),
                  6px 6px 8px rgba(0,0,0,0.15);

$shadow-primary__inset: inset -6px -6px 8px rgba(255,255,255,1),
                        inset -6px -6px 12px rgba(255,255,255,0.5),
                        inset 6px 6px 4px rgba(255,255,255,0.1),
                        inset 6px 6px 8px rgba(0,0,0,0.15);



$shadow-secondary: -8px -4px 8px 0px #ffffff,
                    8px 4px 12px 0px #d1d9e6;


$shadow-secondary__inset: inset -8px -4px 8px 0px #ffffff,
                   inset 8px 4px 12px 0px #d1d9e6;


/* MEDIA */
$wrapper: '';
$breakpoint-sm: '';
$breakpoint-md: '';