/* BASIC */



/* COLORS */
$col-primary: '';
$col-secondary: '';


/* FONTS */
$font-primary: '';



/* SHADOWS */
$shadow-primary: '';
$shadow-primary_inset: '';



/* MEDIA */
$wrapper: '';
$breakpoint-sm: '';
$breakpoint-md: '';